
	<h2>Guest List:</h2>
	<table>
		<thead>
			<th width="200">Invited Guests</th>
		</thead>
  
		<% for guest in @guests %>
			<tr>
				<td align="left"><%= link_to guest.name, guest%></td>
			</tr>
		<% end %>

	</table>
	<p class="supertiny">&nbsp;</p>
