<div id="mini-guest-list" class="right">
		<table id="horz-Minimalist">
			<thead>
				<th width="200">Invited Guests:</th>
			</thead>
		
			<% for invitation in @invitations %>
				<tr>
					<td align="left"><%= link_to invitation.guest.name, invitation.guest%></td>
				</tr>
			<% end %>
		
		</table>
	<p class="supertiny">&nbsp;</p>
</div>
