<div id="mini-guest-list" class="right">
		<table id="horz-Minimalist">
			<thead>
				<th width="200">Guest List:</th>
			</thead>
		
			<% for guest in @guests %>
				<tr>
					<td align="left"><%= link_to guest.name, guest%></td>
				</tr>
			<% end %>

		</table>
	<p class="supertiny">&nbsp;</p>
</div>
