/*
      Created by Vidur Murali. 27th February, 2011
	 		email: vidur.murali@gmail.com
	  
	  Basic template from www.Code-Sucks.com
*/

/** General Styling **/

* { padding: 0; margin: 0; }

span { padding: 0; margin: 0; }

body {
	background-color: #FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h1 {
	font-size:175%;
	color:#006991;
	margin:.10em 0 .25em 0;
}

h2 {
	font-size:125%;
	color:#00445E;
	margin:.05em 0 .15em 0;
}

h3 {
	font-size:105%;
	color:#00445E;
	margin:.05em 0 .15em 0;
}

a {
	color: #006991; 
	text-decoration:none;
}

p {
	font-size:1.15em;
	text-align: justify;
	line-height: 1.5;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-right:10px;
}

/** Universal Classes **/

.right {
	float:right;
}

.left {
	float:left;
}
/*- END Universal Classes -*/

/** DIV IDs **/

#container { 
	margin: 0 auto;
	width: 922px;
}

#header {
	color: #3CBEEF;
	width: 900px;
	float: left;
	padding: 0;
	height: 150px;
	margin: 10px 0px 5px 0px;
	background: #FFF;
}

#navigation {
	float: right;
	width: 915px;
/*	background:#3CBEEF;*/
	color: #333;
	padding: 4px;
/*	border: 1px solid #ccc; */
	margin: 0px 0px 5px 0px;
}

#navigation ul { list-style:none; padding:0; margin:0; float:right;}
#navigation li { float:left; margin: 0 0.15em; font-weight:bold;}
#navigation li a { background:#006991; height: 2em; line-height: 2em; float: left; width: 9em; display: block; border: 0.1em solid #00445E; color: #3CBEEF;  text-decoration: none; text-align: center;}
#navigation li a:current { background:#00A1DF; color:#000;}

#sidebar { 
/*	background:#3CBEEF;*/
	margin: 0px 5px 5px 0px;
	padding: 10px;
	height: 350px;
	width: 135px;
	float: left;
}

#sidebar ul { list-style:none; padding:0; margin:0;}
#sidebar li { margin: 5px 0; font-weight:bold; font-size:14pt;}
#sidebar li a { background:#006991; height: 2em; line-height: 2em; float: center; width: 7em; display: block; border: 0.1em solid #dcdce9; color: #3CBEEF;  text-decoration: none; text-align: center;}
#sidebar li a.inactive { color: #8B8B8B; text-decoration:none;}

#body { 
	float: right;
	color: #333;
	border: 1px solid #ccc;
	background: #F2F2E6;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	min-height: 350px;
	width: 730px;
	display: inline;
}
#footer { 
	width: 900px;
	clear: both;
	color: #3CBEEF;
	border: 1px solid #ccc;
	background: #006991;
	margin: 0px 0px 10px 0px;
	padding: 10px;
}

#footer a { color:#6CCBEF;}
