<h1>About the Party Manager</h1>

<p>This here be a Party Manager application coded in Ruby for the Application Design and Development course at Carnegie Mellon.</p>
<br><br>

<p>And here be a <a href="http://rook.hss.cmu.edu/~67272/">link</a> to the course website.</p>
