<h1>Credits</h1>
<p>Code and Text have been shamelessly copied from the following places:</p>	
<br>
<h2>Basic CSS Layout:</h2><p><a href="www.code-sucks.com">www.Code-Sucks.com</a></p>
<br>
<h2>Privacy Policy:</h2><p><a href="http://phase2-67272.heroku.com/privacy">ProfH's sample Party Manager's Privacy Policy</a></p>
