<% if logged_in? %>
<h1> Welcome, <%= @current_host.first_name %> <%= @current_host.last_name %> </h1>
<% else %>
<h1> Welcome to the Party Manager! </h1>

<p> Now in open beta, <a href="/signup">sign up</a> is free for errbody. </p>
<p> Already have an account? <a href="/login">Log In</a> to host some groovy parties!</p>
<% end %>
