<div id="footer" align="center">
	Webmaster: His Royal OverLord <a href="http://www.google.com/recaptcha/mailhide/d?k=01mjiSeMYDdASAq27Vg83XeA==&c=WasFQrq0HCEfvAUan8O_WldBHl-gBwlgWSu6CKnJISg=">Vidur Murali</a> &copy 2011
</div>
