<div id="navigation" align="center">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/home/about">About</a></li>
		<li><a href="/home/privacy">Privacy Policy</a></li>
		<li><a href="/home/credits">Credits</a></li>
		<li><a href="/home/contact">Contact us</a></li>
	</ul>
</div>
